USE [master]
GO
/****** Object:  Database [BDMG]    Script Date: 04/07/2024 19:30:31 ******/
CREATE DATABASE [BDMG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDMG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDMG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDMG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDMG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDMG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDMG]
GO
/****** Object:  User [bdmg]    Script Date: 04/07/2024 19:30:31 ******/
CREATE USER [bdmg] FOR LOGIN [bdmg] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [bdmg]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [bdmg]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [bdmg]
GO
ALTER ROLE [db_datareader] ADD MEMBER [bdmg]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [bdmg]
GO
/****** Object:  Table [dbo].[task]    Script Date: 04/07/2024 19:30:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](50) NULL,
	[status] [char](1) NULL,
	[data] [date] NULL,
	[prioridade] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[task] ON 

INSERT [dbo].[task] ([codigo], [descricao], [status], [data], [prioridade]) VALUES (1, N'Bruno', N'A', CAST(N'2024-07-04' AS Date), 1)
INSERT [dbo].[task] ([codigo], [descricao], [status], [data], [prioridade]) VALUES (2, N'Tarefa nova', N'A', CAST(N'2024-07-04' AS Date), 1)
INSERT [dbo].[task] ([codigo], [descricao], [status], [data], [prioridade]) VALUES (3, N'Outra tarefa', N'C', CAST(N'2024-07-04' AS Date), 2)
SET IDENTITY_INSERT [dbo].[task] OFF
GO
USE [master]
GO
